@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prata&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: #f7fbf6;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.main-wrapper {
  margin: 0 auto;
  max-width: 94%;
  padding: 0 1.0875rem 1.45rem;
  display: flex;
  flex-direction: row;
}

.column {
  height: 100%;
  flex: 3;
}
.side-column {
  height: 100%;
  flex: 1;
}

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.right-column {
  position: absolute;
  right: 3%;  /* (100 - main-wrapper-max-width) / 2 */
  bottom: -15px; /*secondary font-size + 1*/
  width: 18.8%; /* main-wrapper max-width * 1/5 */
}

.side-menu {
  border-radius: 5px;
  position: absolute;
  flex: 1;
}

.outer-menu {
  left: 0;
  position: absolute;
  padding-left: 0;
  padding-top: 15px;  /*secondary font-size + 1*/
}

.sub-menu {
  display: inline-table;
}

.side-menu > ul {
  padding: 0;
  margin-top: 0;
  left: 0;
}

.side-menu > ul > li {
  display: inline;
  padding-right: 14px;
}

.regular-link {
  text-decoration: none;
}

.active-link {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bolder;
}

.metadata-item > p {
  margin-bottom: 0;
}